body{
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
 
}
.header{
  margin: 0%;
  padding: 0px;
  height: 10%;
  color: rgb(179, 211, 216);
}
.nav{
  height: 100%;
}
.main1{
  margin-top: 2px;
  margin-left:15%;
  margin-right: 15%;
  background-color: rgb(158, 239, 242);
  border: 6px;
}
.background{

    background-image: url('../image/airport.webp');
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 910px;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 0px;
    padding: 70px;
  }
  .form1{
    padding-top: 20px;
    padding-left: 35%;
    
  }

img{
  background: fixed;
  max-width: 100%;
  height: 1000px;
  margin: 0px;
}
.class{
  height: 20px;
}
.card{
  
  display: inline;
  height: 90px;
  width: 70px;
  position: relative;
  margin: 20px;
}
.about{
  margin: 100px;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
}
.submit{
margin-left: 25%;
}
.background_result{
  margin: 52px;
}
.resut{
  margin-left: 400px;
  height: 150px;
  width: 300px;
  background-color: aliceblue;
}
#heading_out{
  color: rgb(5, 6, 6);
  padding-left: 90px;
  padding-top: 10px;
  
}
#para{
  color: rgb(63, 31, 204);
  height: 30px;
  padding-left: 60px;
  padding-top: 10px;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
#input_text{
 
}
#heading_main{
  margin: 2%;
  color: rgb(19, 134, 243);
}